{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="my-5">
    <h3>注文内容を確認する</h3>
</div>

<form method="POST" id="payment-form">
    {% csrf_token %}
    <div class="row order">
        <div class="col-md-9">
            <div class="card px-4">
                <div class="card-body px-2 py3">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="item-name">お届け先住所</p>
                            <p>名前：{{ user_data.first_name }} {{ user_data.last_name }}</p>
                            <p>住所：{{ user_data.address }}</p>
                            <p>電話番号：{{ user_data.tel }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="item-name">お支払い方法</p>
                            <p>クレジットカード</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center px-2 py-3">
                    <div class="mb-3">
                        <button class="btn btn-warning" type="submit" style="margin-bottom: 1rem">
                            注文を確定する
                        </button>
                        <a href="{% url 'order' %}" class="btn btn-primary"  style="margin-bottom: 1rem">ショッピングカートに戻る</a>
                        <p class="item-name">注文内容</p>
                        <p>商品の小計：{{ order.get_total|custom_price }}円</p>
                        <p>配送料：0円</p>
                        <hr>
                        <p class="font-weight-bold text-danger">ご請求書金額：{{ order.get_total|custom_price }}円</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}